
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 23px;
}

body
{
    background-size: cover;
    background-position: center;
}

canvas
{
    border: 10px  cyan solid;
    border-radius: 25px;
    
}